:root {
  --bgColorContainer: #80e0fd;
  --primaryTextColor: #3f3f3f;
  --titleColor: #080808;
  --secondColor: #fa8072;
  /* --loginColor: #000000; */
}

body {
  margin: 0;
  line-height: 1.5;
  color: var(--primaryTextColor);
  /* background-color: var(--primaryTextColor); */
}

ul {
  list-style: none;
}

.navLink {
  font-size: 26px;
  color: var(--titleColor);
  margin-right: 16px;
}

.navLink:not(:last-child) {
  margin-right: 16px;
}

.navLink--active {
  color: var(--secondColor);
}
